<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>RAD-Seq</title>
        <%- include('partials/css.ejs') %>
    </head>

    <body>
        <%- include ('partials/nav.ejs', {page: 'change_email', user}) %>

        <div class="card rad-card margin-center margin-top-lg">
            <div class="rad-card-header">
                <h3 class="card-title rad-form-header">Change Password</h3>
            </div>
            <hr>
            <div class="card-body rad-card-body">
                <% if (errorMessage !== null) { %>
                    <p id="error" class="rad-error-message text-center"><%- errorMessage %></p>               
                    <br>
                <% } %>
                <% if (successMessage !== null) { %>
                    <p class="text-center rad-success-message"><%= successMessage %></p>
                    <br>
                <% } %>
                <form action="/change_email" method="post">
                    <div class="form-group">
                        <h6 class="rad-form-header">Current Email</h6>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input type="email" class="form-control" name="currentEmail" id="currentEmail" value="<%= user.email %>" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" name="newEmail" placeholder="New email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" name="confirmNewEmail" placeholder="Confirm new email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="rad-form-button margin-center">Change</button>
                    </div>
                </form>
            </div>
        </div>

        <%- include('partials/scripts.ejs') %>
    </body>


</html>