<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="utf-8">
        <title>RAD-Seq</title>
        <%- include('partials/css.ejs') %>
        <%- include('partials/chartjs_scripts.ejs') %>
    </head>

    <body>
        <%- include ('partials/nav.ejs', {page: 'home', user}) %>

        <div class="row">

            <div class="col-lg-6">
                <div class="card rad-card margin-center" id="analysis_card" style="width: 80%;">
                    <div class="rad-card-header">
                        <h3 class="card-title rad-form-header">RAD-Seq Fragment Analysis</h3>
                    </div>
                    <hr>
                    <div class="card-body rad-card-body">
                        <p id="error" class="rad-error-message text-center" style="display: none;"></p>               
                        <form id="analysis_form" name="analysis_form" action="/" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="enzyme_select">Restriction Enzyme:</label>
                                        <div class="input-group">
                                            <select class="form-control" onchange="onSelectEnzyme(this);" name="enzyme_select" id="enzyme_select">
                                                <option>&lt&ltcustom&gt&gt</option>
                                                <% for(let i = 0; i < restriction_enzymes.length; i++) { %>
                                                    <option id="<%= restriction_enzymes[i]['id'] %>"><%= restriction_enzymes[i]["name"] %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="enzyme_site">Restriction Site:</label>
                                        <div class="input-group">
                                            <input class="form-control" id="enzyme_site" name="enzyme_site" type="text" minlength="2" maxlength="8" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="genome_file">Genome File:</label>
                                <div class="input-group">
                                    <input type="file" id="genome_file" required>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="probability">Slice Probability</label>
                                <div class="input-group">
                                    <input class="form-control" type="number" name="probability" id="probability" step="0.01" value="0.95" min="0.01" max="1.00" onchange="updateToFixed()" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="length_distribution">Length Distribution</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="length_distribution" id="length_distribution" step="1" value="50" min="5" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="distribution_count">Distribution Count</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="distribution_count" id="distribution_count" step="1" value="20" min="1" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="progress" style="display: none" id="progress_bar_block">
                                <div
                                id="progress_bar"
                                class="progress-bar"
                                role="progressbar"
                                style="width: 0%;"
                                ></div>
                            </div>
                            <div class="rad-load-block" style="display: none;" id="rad_analyze_block">
                                <h5 class="rad-load-label">Analyzing</h5>
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="rad-form-button margin-center" type="button" onclick="performAnalysis()" id="analysis_button">Get Analysis</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 inner-center">

                <style>
                    table, th, td {
                        border:1px solid black;
                        }
                    th{
                        padding: 10px;
                        text-align: center;
                    }

                    td{
                        padding: 10px;
                        text-align: center;
                    }

                    table{
                        width: 100%;
                    }

                    .table-div{
                        padding-left: 50px;
                        padding-right: 50px;
                    }
                </style>

                <div style="margin: 100px 0px 0px;" class="table-div">
                    <table>
                        <tr>
                            <th>Total RS Count</th>
                            <th>Expected RS Slice Count</th>
                            <th>Actual RS Slice Count</th>
                            <th>Fragment Count</th>
                        </tr>
                        <tr>
                            <td id="total_rs_count">0</td>
                            <td id="expected_rs_slice_count">0</td>
                            <td id="actual_rs_slice_count">0</td>
                            <td id="fragment_count">0</td>
                        </tr>
                    </table>
                </div>

                <div class="chart-container">
                    <canvas id="fragmentChart"></canvas>
                </div>
            </div>
        </div>

        


        
        <script>
            /* Inputs */
            var enzymeSelect = document.getElementById('enzyme_select');
            var enzymeSite = document.getElementById('enzyme_site');
            var probability = document.getElementById('probability');
            var lengthDistribution = document.getElementById('length_distribution');
            var distributionCount = document.getElementById('distribution_count');
            var genomeFileInput = document.getElementById('genome_file');

            /* HTML elements*/
            var error = document.getElementById('error');
            var radAnalyzeBlock = document.getElementById('rad_analyze_block');
            var analysisButton = document.getElementById('analysis_button');
            var progressBarBlock = document.getElementById('progress_bar_block');
            var progressBar = document.getElementById('progress_bar');
            const fragmentChart = document.getElementById('fragmentChart');


            /*Server data*/
            var token = "<%= userToken %>"
            var DOC_NAME = "<%= user !== null ? user.uid : ''%>";
            var restriction_enzymes = [];
            restriction_enzymes = <%- JSON.stringify(restriction_enzymes) %>;

            /* Chart Object */
            var fragmentChartObject = null;

            <% if (user) { %>
                window.onload = async ()=>{
                    await FirebaseController.signIn(token);
                };
            <% } %>

            
            function updateToFixed(){
                let value = parseFloat(probability.value);
                if(!isNaN(value) && value >= 0.01 && value <= 1.00){
                    document.getElementById("probability").value = value.toFixed(2);
                }
            }

            function onSelectEnzyme(sel){
                if(sel.selectedIndex === 0){
                    enzymeSite.disabled = false;
                    enzymeSite.value = "";

                } else {
                    enzymeSite.disabled = true;
                    enzymeSite.value = restriction_enzymes[sel.selectedIndex-1].restrictionSite;

                }
            }

            
            async function performAnalysis(){

                var $analysisForm = $('#analysis_form');
                if ($analysisForm[0].checkValidity()){
                    progressBarBlock.style.display = "flex";
                    radAnalyzeBlock.style.display = "flex";
                    progressBar.style.width = "0%";
                    console.log("Start")
                    try{
                        let lengthDistributionNumber = parseInt(lengthDistribution.value);
                        let distributionCountNumber = parseInt(distributionCount.value);

                        console.log(`1. Genome file size: ${genomeFileInput.files[0].size}`);
                        await radAnalyze(genomeFileInput.files[0], enzymeSite.value, probability.value, lengthDistributionNumber, distributionCountNumber, fragmentChart, progressBar, [analysisButton,], [progressBarBlock, radAnalyzeBlock]);
                    } catch(e) {
                        console.log(`Error: ${e}`);
                    }
                } else {
                    $analysisForm[0].reportValidity()                }
            }

        </script>

        <%- include('partials/scripts.ejs') %>
    </body>


</html>