<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="utf-8">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!--My Css-->
        <link rel="stylesheet" type="text/css" href="css/form.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <title>RAD-Seq</title>

        <style>
            .properties-button:focus{
                box-shadow: none;
            }
        </style>

    </head>

    <body>


        <script type="module" src="js/init_firebase.js"></script>

        <%- include ('partials/nav.ejs', {page: 'home'}, user) %>

        <div style="text-align: center;">
            <form action="/results" class="myForm" style="text-align: center;" method="post">
                <h1 style="margin-bottom: 40px; font-weight: bold;">RAD-Seq Fragment Analysis</h1>
                <li id="error" style="text-align:center; font-weight: bold; color: red; display: none;"></li>
                <div style="display:inline-block;">
                    <h4 style="font-weight: bold;">Genome</h4>
                    <div>
                        <select class="myDropDown" onchange="onSelectGenome(this);" name="genomeSelect" id="genomeSelect">
                            <% for(let i = 0; i < genomes.length; i++) { %>
                                <option id="<%= genomes[i]['fileName'] %>"><%= genomes[i]["name"] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="card-header" style="text-align: left;" data-toggle="collapse" data-target="#genomeCollapse" aria-expanded="true" aria-controls="genomeCollapse">
                        <h5 class="mb-0">
                            <button class="btn btn-link properties-button" type="button" data-toggle="collapse" data-target="#genomeCollapse" aria-expanded="true" aria-controls="genomeCollapse">
                                Properties
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" style="position: absolute; width: 300px" id="genomeCollapse">
                        <div class="card card-body" style="padding-top: 0px">
                            <label style="margin-top: 10px; font-weight: bold;" for="genomeName">Name</label>
                            <input style="width: 100%" id="genomeName" name="genomeName" type="text" value="<%= genomes.length > 0  ? genomes[0]['name'] : '' %>"> 
                            <div style="margin-top: 20px;" id="genomePropertiesButtonsDiv">
                                <button class="btn btn-success" type="button" id="genomeUpdateButton" style="width: 100px; display: inline-block; margin-right: 20px;" onclick="updateGenome()" <%= genomes.length === 0 ? 'disabled' : ''%>>Update</button>
                                <button class="btn btn-danger" type="button" id="genomeDeleteButton" style="width: 100px; display: inline-block;" onclick="deleteGenome()" <%= genomes.length === 0 ? 'disabled' : ''%>>Delete</button>
                            </div>
                            <div id="updateGenomeProgressDiv" style="display: none">
                                <div style="display: flex; align-items: center; justify-content: center; margin-top: 15px;">
                                    <h5 style="display: inline; margin-right: 10px; font-weight: bold;">Updating</h5>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="deleteGenomeProgressDiv" style="display: none">
                                <div style="display: flex; align-items: center; justify-content: center; margin-top: 15px;">
                                    <h5 style="display: inline; margin-right: 10px; font-weight: bold;">Deleting</h5>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>               
                        </div>
                    </div>
                    <br>
                    <div style="margin-bottom: 20px;"></div>

                    <h4 style="font-weight: bold;">Restriction Enzyme</h4>
                    <div>
                        <select class="myDropDown" onchange="onSelectEnzyme(this);" name="enzymeSelect" id="enzymeSelect">
                        <% for(let i = 0; i < restriction_enzymes.length; i++) { %>
                            <option id="<%= restriction_enzymes[i]['id'] %>"><%= restriction_enzymes[i]["name"] %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="card-header" style="text-align: left;" data-toggle="collapse" data-target="#enzymeCollapse" aria-expanded="true" aria-controls="enzymeCollapse">
                        <h5 class="mb-0">
                            <button class="btn btn-link properties-button" type="button" data-toggle="collapse" data-target="#enzymeCollapse" aria-expanded="true" aria-controls="enzymeCollapse">
                                Properties
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" style="position: absolute; width: 300px;" id="enzymeCollapse">
                        <div class="card card-body" style="padding-top:0px;">
                            <label style="margin-top: 10px; font-weight: bold;" for="enzymeName">Name</label>
                            <input style="width: 100%" id="enzymeName" name="enzymeName" type="text" value="<%= restriction_enzymes.length > 0  ? restriction_enzymes[0]['name'] : '' %>">
                            <label style="margin-top: 20px; font-weight: bold;" for="enzymeSite">Restriction Site</label>
                            <input style="width: 100%" id="enzymeSite" name="enzymeSite" type="text" value="<%= restriction_enzymes.length > 0  ? restriction_enzymes[0]['restrictionSite'] : '' %>">
                            <div style="margin-top: 20px;" id="enzymePropertiesButtonsDiv">
                                <button class="btn btn-success" id="enzymeUpdateButton" type="button" style="width: 100px; display: inline-block; margin-right: 20px;" onclick="updateRestrictionEnzyme()" <%= restriction_enzymes.length === 0 ? 'disabled' : ''%>>Update</button>
                                <button class="btn btn-danger" id="enzymeDeleteButton" type="button" style="width: 100px; display: inline-block;" onclick="deleteRestrictionEnzyme()" <%= restriction_enzymes.length === 0 ? 'disabled' : ''%>>Delete</button>
                            </div>
                            <div id="updateEnzymeProgressDiv" style="display: none">
                                <div style="display: flex; align-items: center; justify-content: center; margin-top: 15px;">
                                    <h5 style="display: inline; margin-right: 10px; font-weight: bold;">Updating</h5>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="deleteEnzymeProgressDiv" style="display: none">
                                <div style="display: flex; align-items: center; justify-content: center; margin-top: 15px;">
                                    <h5 style="display: inline; margin-right: 10px; font-weight: bold;">Deleting</h5>
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div style="margin-bottom: 20px;"></div>

                    <h4 style="font-weight: bold; display: inline;">Slice Probability</h4><label>(0.01 - 1.00)</label>
                    <div>
                        <input type="number" name="probability" id="probability" step="0.01" class="myNumberInput" value="0.95" min="0.01" max="1.00" onchange="updateToFixed()">
                    </div>
                    <% if(error){ %>
                        <li style="text-align:center; font-weight: bold; color: red;"><%=errorMessage%></li>
                    <% } %>
                    <input name="submit" class="form-button" type="submit" style="font-weight: bold;" value="Get Analysis" />
                </div>

                <input style="display: none;" name="selectedGenome" id="selectedGenome" value="<%= genomes.length > 0 ? genomes[0]['fileName'] : '' %>">
                <input style="display: none;" name="selectedEnzyme" id="selectedEnzyme" value="<%= restriction_enzymes.length > 0 ? restriction_enzymes[0]['id'] : '' %>">
            </form>
        </div>
        


        <script>
            var selectedGenome = document.getElementById('selectedGenome');
            var selectedEnzyme = document.getElementById('selectedEnzyme');
            var enzymeName = document.getElementById('enzymeName');
            var enzymeSite = document.getElementById('enzymeSite');
            var enzymeSelect = document.getElementById('enzymeSelect');
            var genomeName = document.getElementById('genomeName');
            var enzymePropertiesButtonsDiv = document.getElementById('enzymePropertiesButtonsDiv');
            var deleteGenomeProgressDiv = document.getElementById('deleteGenomeProgressDiv');
            var genomePropertiesButtonsDiv = document.getElementById('genomePropertiesButtonsDiv');
            var enzymeUpdateButton = document.getElementById('enzymeUpdateButton');
            var enzymeDeleteButton = document.getElementById('enzymeDeleteButton');
            var genomeUpdateButton = document.getElementById('genomeUpdateButton');
            var genomeDeleteButton = document.getElementById('genomeDeleteButton');
            var error = document.getElementById('error');
            var token = "<%= userToken %>"
            var DOC_NAME = "<%= user !== null ? user.uid : ''%>";
            var GENOME_FOLDER = "<%= user !== null ? 'genomes/' + user.uid + '/' : '' %>";

            var genomes = [];
            var restriction_enzymes = [];
            genomes = <%- JSON.stringify(genomes) %>;
            restriction_enzymes = <%- JSON.stringify(restriction_enzymes) %>;

            <% if (user) { %>
                window.onload = async ()=>{
                    await signIn(token);
                };
            <% } %>
        
            function updateToFixed(){
                let value = parseFloat(document.getElementById("probability").value);
                if(!isNaN(value) && value >= 0.01 && value <= 1.00){
                    document.getElementById("probability").value = value.toFixed(2);
                }
            }

            function onSelectEnzyme(sel){
                console.log(sel.selectedIndex);
                selectedEnzyme.value = restriction_enzymes[sel.selectedIndex].id;
                enzymeName.value = restriction_enzymes[sel.selectedIndex].name;
                enzymeSite.value = restriction_enzymes[sel.selectedIndex].restrictionSite;
                console.log(selectedEnzyme.value);
            }

            function onSelectGenome(sel){
                console.log(sel.selectedIndex);
                selectedGenome.value = genomes[sel.selectedIndex].fileName;
                genomeName.value = genomes[sel.selectedIndex].name;
                console.log(selectedGenome.value);
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script type="module" src="js/update_data.js"></script>  
        <script type="module" src="js/firebase_auth.js"></script>  
    </body>


</html>
