<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>RAD-Seq</title>
        <%- include('partials/css.ejs') %>
    </head>

    <body>

        <%- include ('partials/nav.ejs', {page: 'login', user}) %>

        <div class="card rad-card margin-center margin-top-lg">
            <div class="rad-card-header">
                <h3 class="card-title rad-card-text-header">Log In</h3>
            </div>
            <hr>
            <div class="card-body rad-card-body">
                <form id="login_form">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" id="password" name="password" placeholder="Password" type="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="rad-button margin-center" type="button" id="loginButton">Login</button>
                        <hr>
                        <a class="inner-center" href="/forgot_password">Forgot password?</a>
                        <p class="inner-center">New user? Sign up <span><a href="/register">here</a></span></p>
                    </div>
                </form>
            </div>
        </div>
        
        <input type="hidden" id="successMessage" value="<%=successMessage === null ? '' : successMessage %>">
        <input type="hidden" id="errorMessage" value="<%= errorMessage === null ? '' : errorMessage %>">

        <%- include('partials/scripts.ejs') %>
        <script src="scripts/login.js"></script>
    </body>


</html>
