<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RAD-Seq</title>
        <%- include('partials/css.ejs') %>
    </head>

    <body>

        <%- include ('partials/nav.ejs', {page: 'upload'}, user) %>


        <div class="card rad-card margin-center margin-top-lg">
            <div class="rad-card-header">
                <h3 class="card-title rad-form-header">Upload</h3>
            </div>
            <hr>
            <div class="card-body rad-card-body">
                <p id="error" class="rad-error-message text-center" style="display: none;"></p>               
                <form id="upload_form" name="upload_form">
                    <div class="form-group">
                        <label for="select_type">Upload Type: </label>
                        <div class="input-group">
                            <select class="form-control" id="select_type">
                                <option>Restriction Enzyme</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="enzyme_name">Name:</label>
                        <div class="input-group">
                            <input class="form-control" id="enzyme_name" name="enzyme_name" type="text" required>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="restriction_site">Restriction Site:</label>
                        <div class="input-group">
                            <input class="form-control" id="restriction_site" name="restriction_site" type="text" minlength="2" maxlength="8" required>
                        </div>
                    </div>
                    <hr>
                    <div class="rad-load-block" style="display: none;" id="rad_upload_block">
                        <h5 class="rad-load-label">Uploading</h5>
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <button class="rad-form-button margin-center" type="button" id="upload_button" onclick="uploadEnzyme();">Upload</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            /* Input Elements */
            var enzymeName = document.getElementById("enzyme_name");
            var restrictionSite = document.getElementById("restriction_site");

            /* Form Elements */
            var radUploadBlock = document.getElementById("rad_upload_block");
            var uploadButton = document.getElementById('upload_button');
            var error = document.getElementById('error');

            /*Data from Server*/
            var DOC_NAME = '<%= user.uid%>';
            var USER_UID = '<%= user.uid %>';

            window.onload = () => {
                FirebaseController.signIn("<%= userToken %>");
            };

        
            async function uploadEnzyme(){

                var $uploadForm = $('#upload_form');
                    if ($uploadForm[0].checkValidity()){
                    error.style.display = "none";
                    uploadButton.style.display = "none";
                    radUploadBlock.style.display = "flex";

                    try{
                        await FirebaseController.uploadRestrictionEnzyme(enzymeName.value, restrictionSite.value);
                    } catch(e) {
                        error.style.display = "block";
                        error.innerHTML = `${e}`;
                    }
                    console.log("done");
                    uploadButton.style.display = "block"
                    radUploadBlock.style.display = "none";
                } else {
                    $uploadForm[0].reportValidity(); 
                }
            }
            

        </script>

        <%- include('partials/scripts.ejs') %>
    </body>
</html>